#accomodation-main{
  .container{
    bottom: 20%;
    .carousel-content{
      gap:30px
    }
  }
}
#accomodation-page, #accomodation-page-2{
  background-color: white;
  .container{
    justify-content: space-between;
    .social-button{
      .view-detail{
        background: white;
        color: $main-color;
          &:hover{
            background:$main-color;
            color: white !important;
            border-color: $main-color;
          }
      }
    }
    .img-story{
      width: 50%;
    }
  } 
}


@media (max-width: 1200px) {
  #accomodation-page, #accomodation-page-2{
    .container{
      flex-direction: row;
      .img-story{
        width: 50%!important;
      }
      .content-story{
        width: 50%!important;
      }
    }
  }
}
@media (max-width: 768px) {
  #accomodation-page,#accomodation-page-2{
    .container{
      flex-direction: column;
      gap: 0!important;
      .img-story{
        width: 100% !important;;
      }
      .content-story{
        width: 100%!important;
        .content-detail{
        
  
            padding:10px 0;
  
        }
       
      }
      .social-button{
      gap:15px!important;
      flex-direction: row;
      }
    }
  }

  #accomodation-page-2{
    padding-top: 0;
    .container{
      flex-direction: column-reverse;
    }
  }
  
}
